*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
  }

  .d-felx{
    display: flex;
  }
  
  .sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .Wrapper{
    width: 25rem;
    height: auto;
    margin: 25px ; 
    border: 0.5px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  .head{
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  .head > h1{
    font-size: 1.25rem;
    color: #333333;
  }
  .head > span{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin-top: 15px;
    gap: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    font-family: 'Courier New', Courier, monospace;
  }

  .bigavrage{
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    color: #333333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;
    margin-left: 10px;
  }
  .avrage{
    background-color: greenyellow;
    
  }

  .notavrage{
    background-color: green;
  }

  
  .body > p {
    font-size: 14px;
    padding: 15px 15px 15px 0px;
  }
  .Btn-info{
    padding: 10px 35px ;
    margin: 10px 10px 10px 0px;
  }
  .image-wrapper{
    width: 100%;
    height: auto;

  }
  .image-wrapper>img{
      width: 100%;
      height: auto;
  }
    
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .card-vertical{
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 }